@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 修复open el-dialog对话框中的css样式错误
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.table-up-button {
  text-align: right;
  margin-bottom: 20px;
}

// 查询列表条件中input的width
.query-input-width {
  width: 140px;
}

.auto-width {
  width: 100%;
}
